### PySpark GroupBy and Aggregate Functions

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('AggregateFunctions').getOrCreate()

In [4]:
csv_df = spark.read.csv('../datasets/country_wise_latest.csv', header=True, inferSchema=True)

In [5]:
spark

In [5]:
csv_df.show()

+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|          WHO Region|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              Africa|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|     South-East Asia|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
only showing top 20 rows

In [6]:
csv_df.printSchema()

root
 |-- Country/Region: string (nullable = true)
 |-- Confirmed: integer (nullable = true)
 |-- Deaths: integer (nullable = true)
 |-- Recovered: integer (nullable = true)
 |-- Active: integer (nullable = true)
 |-- New cases: integer (nullable = true)
 |-- New deaths: integer (nullable = true)
 |-- New recovered: integer (nullable = true)
 |-- WHO Region: string (nullable = true)

In [6]:
# Calculate the Total # of cases in a particular country | Use GroupBy function
csv_df.groupBy('Country/Region').sum().show()

+--------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
|Country/Region|sum(Confirmed)|sum(Deaths)|sum(Recovered)|sum(Active)|sum(New cases)|sum(New deaths)|sum(New recovered)|
+--------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
|          Chad|           922|         75|           810|         37|             7|              0|                 0|
|      Paraguay|          4548|         43|          2905|       1600|           104|              2|               111|
|        Russia|        816680|      13334|        602249|     201097|          5607|             85|              3077|
|         Yemen|          1691|        483|           833|        375|            10|              4|                36|
|       Senegal|          9764|        194|          6477|       3093|            83|              3|                68|
|    Cabo Verde|          2328|         22|          1550|        756|            21|              0|               103|
|        Sweden|         79395|       5700|             0|      73695|           398|              3|                 0|
|        Guyana|           389|         20|           181|        188|            19|              0|                 0|
|         Burma|           350|          6|           292|         52|             0|              0|                 2|
|       Eritrea|           265|          0|           191|         74|             2|              0|                 2|
|   Philippines|         82040|       1945|         26446|      53649|          1592|             13|               336|
|      Djibouti|          5059|         58|          4977|         24|             9|              0|                11|
|      Malaysia|          8904|        124|          8601|        179|             7|              0|                 1|
|     Singapore|         50838|         27|         45692|       5119|           469|              0|               171|
|          Fiji|            27|          0|            18|          9|             0|              0|                 0|
|        Turkey|        227019|       5630|        210469|      10920|           919|             17|               982|
|        Malawi|          3664|         99|          1645|       1920|            24|              0|                 6|
|Western Sahara|            10|          1|             8|          1|             0|              0|                 0|
|          Iraq|        112585|       4458|         77144|      30983|          2553|             96|              1927|
|       Germany|        207112|       9125|        190314|       7673|           445|              1|               259|
+--------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
only showing top 20 rows

In [7]:
# Get the maximum no of cases reported in a country
csv_df.groupBy('Country/Region').max().show()

+--------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
|Country/Region|max(Confirmed)|max(Deaths)|max(Recovered)|max(Active)|max(New cases)|max(New deaths)|max(New recovered)|
+--------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
|          Chad|           922|         75|           810|         37|             7|              0|                 0|
|      Paraguay|          4548|         43|          2905|       1600|           104|              2|               111|
|        Russia|        816680|      13334|        602249|     201097|          5607|             85|              3077|
|         Yemen|          1691|        483|           833|        375|            10|              4|                36|
|       Senegal|          9764|        194|          6477|       3093|            83|              3|                68|
|    Cabo Verde|          2328|         22|          1550|        756|            21|              0|               103|
|        Sweden|         79395|       5700|             0|      73695|           398|              3|                 0|
|        Guyana|           389|         20|           181|        188|            19|              0|                 0|
|         Burma|           350|          6|           292|         52|             0|              0|                 2|
|       Eritrea|           265|          0|           191|         74|             2|              0|                 2|
|   Philippines|         82040|       1945|         26446|      53649|          1592|             13|               336|
|      Djibouti|          5059|         58|          4977|         24|             9|              0|                11|
|      Malaysia|          8904|        124|          8601|        179|             7|              0|                 1|
|     Singapore|         50838|         27|         45692|       5119|           469|              0|               171|
|          Fiji|            27|          0|            18|          9|             0|              0|                 0|
|        Turkey|        227019|       5630|        210469|      10920|           919|             17|               982|
|        Malawi|          3664|         99|          1645|       1920|            24|              0|                 6|
|Western Sahara|            10|          1|             8|          1|             0|              0|                 0|
|          Iraq|        112585|       4458|         77144|      30983|          2553|             96|              1927|
|       Germany|        207112|       9125|        190314|       7673|           445|              1|               259|
+--------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
only showing top 20 rows

In [11]:
# Get the minimum no of cases reported in a country
csv_df.groupBy('Country/Region').min().show()

+-------------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
|     Country/Region|min(Confirmed)|min(Deaths)|min(Recovered)|min(Active)|min(New cases)|min(New deaths)|min(New recovered)|
+-------------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
|        Afghanistan|         36263|       1269|         25198|       9796|           106|             10|                18|
|            Albania|          4880|        144|          2745|       1991|           117|              6|                63|
|            Algeria|         27973|       1163|         18837|       7973|           616|              8|               749|
|            Andorra|           907|         52|           803|         52|            10|              0|                 0|
|             Angola|           950|         41|           242|        667|            18|              1|                 0|
|Antigua and Barbuda|            86|          3|            65|         18|             4|              0|                 5|
|          Argentina|        167416|       3059|         72575|      91782|          4890|            120|              2057|
|            Armenia|         37390|        711|         26665|      10014|            73|              6|               187|
|          Australia|         15303|        167|          9311|       5825|           368|              6|               137|
|            Austria|         20558|        713|         18246|       1599|            86|              1|                37|
|         Azerbaijan|         30446|        423|         23242|       6781|           396|              6|               558|
|            Bahamas|           382|         11|            91|        280|            40|              0|                 0|
|            Bahrain|         39482|        141|         36110|       3231|           351|              1|               421|
|         Bangladesh|        226225|       2965|        125683|      97577|          2772|             37|              1801|
|           Barbados|           110|          7|            94|          9|             0|              0|                 0|
|            Belarus|         67251|        538|         60492|       6221|           119|              4|                67|
|            Belgium|         66428|       9822|         17452|      39154|           402|              1|                14|
|             Belize|            48|          2|            26|         20|             0|              0|                 0|
|              Benin|          1770|         35|          1036|        699|             0|              0|                 0|
|             Bhutan|            99|          0|            86|         13|             4|              0|                 1|
+-------------------+--------------+-----------+--------------+-----------+--------------+---------------+------------------+
only showing top 20 rows

In [ ]:
# Get the minimum no of cases reported in a country and Sort it by Country Name
csv_df.groupBy('Country/Region').min().sort("Country/Region").show()